/autom4te.cache
/aclocal.m4
/configure
/Makefile.in
/.cproject
/.project
/wdb2ts_config.h.in~
/.autotools
/libtool
/Makefile
/stamp-h1
/wdb2ts_config.h
/config.log
/config.status
/.settings
/temp
/build-docker/
