#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

#Add our local metlibs first on the pkg-config path.
#export PKG_CONFIG_PATH:=$(CURDIR)/metlibs/lib/pkgconfig:$(PKG_CONFIG_PATH)

DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	
	#Compile a local version of metlibs.
	#We must do it before we configure wdb2ts 
	
#	tar zxpf metlibs-3.3.0-20100326.tar.gz  
#	( cd metlibs-3.3.0 ;                     \
#	  ./configure --prefix=$(CURDIR)/metlibs \
#	              --sysconfdir=/etc \
#	              --localstatedir=/var \
#	              --datarootdir=/usr/share \
#	              --disable-shared \
#	              --enable-pgconpool \
#	              --disable-diField --disable-diMItiff \
#	              --disable-diSQL  --disable-diWdb --disable-glp --disable-glText \
#	              --disable-GribAPI --disable-parameter --disable-pets2 --disable-pods \
#	              --disable-profet  --disable-proFunctions --disable-propoly \
#	              --disable-puCtools --disable-puDatatypes --disable-puSQL \
#	              --disable-qTimeseries --disable-qUtilities  --disable-robs --disable-tsData \
#	              --disable-wdb  --disable-metnofieldfile  --disable-xfonts ;  \
#	  $(MAKE) FFLAGS=-fPIC CXXFLAGS=-fPIC CFLAGS=-fPIC ;           \
#	  $(MAKE) FFLAGS=-fPIC CXXFLAGS=-fPIC CFLAGS=-fPIC install ; \
#	  \
#	)
	#test -d metlibs-3.3.0 && rm -rf metlibs-3.3.0  
		
	# Add here commands to configure the package.
	PKG_CONFIG_PATH=$(CURDIR)/metlibs/lib/pkgconfig:$(PKG_CONFIG_PATH) \
	./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
	            --with-wdb2ts-configdir=/etc/metno-wdb2ts \
	            --with-wdb2ts-logdir=/var/log/metno-wdb2ts \
	            --with-wdb2ts-tmpdir=/var/lib/metno-wdb2ts/tmp \
	            --prefix=/usr \
	            --with-apxs=/usr/bin/apxs2 \
               --with-libcurl \
               --localstatedir=/var \
	            CFLAGS="$(CFLAGS)" 
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	# Add here commands to compile the package.
	#$(MAKE) CXXFLAGS=-fPIC CFLAGS=-fPIC
	$(MAKE) 
	$(MAKE) html
	#docbook-to-man debian/ts2xml.sgml > wdb2ts.1

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	# Add here commands to clean up after the build process.
	-$(MAKE) distclean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/metno-wdb2ts.
	$(MAKE) CXXFLAGS=-fPIC CFLAGS=-fPIC FFLAGS=-fPIC DESTDIR=$(CURDIR)/debian/metno-wdb2ts install
	mkdir -p $(CURDIR)/debian/metno-wdb2ts/usr/share/doc/metno-wdb2ts/html/wdb2ts-manual
	cp -f $(CURDIR)/doc/html/wdb2ts-manual/*.html \
       $(CURDIR)/debian/metno-wdb2ts/usr/share/doc/metno-wdb2ts/html/wdb2ts-manual
	mv $(CURDIR)/debian/metno-wdb2ts/etc/metno-wdb2ts/metno-wdb2ts.conf.template \
       $(CURDIR)/debian/metno-wdb2ts/etc/metno-wdb2ts/metno-wdb2ts.conf
	(cd $(CURDIR)/debian/apache; tar cpf - *) |(cd $(CURDIR)/debian/metno-wdb2ts; tar xpf - )
	#mv $(CURDIR)/debian/metno-wdb2ts/etc/metno-wdb2ts/metno-wdb2ts-conf.xml.template\
	#   $(CURDIR)/debian/metno-wdb2ts/etc/metno-wdb2ts
	#mv $(CURDIR)/debian/metno-wdb2ts/etc/metno-wdb2ts/metno-wdb2ts-db.conf.template\
	#  $(CURDIR)/debian/metno-wdb2ts/etc/metno-wdb2ts



# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
	dh_install --sourcedir=debian/metno-wdb2ts
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
#	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
